/* Основные стили для всего сайта */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Хедэр */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: relative;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Логотип */
.logo {
    font-size: 24px;
}

/* Ссылки навигации */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

/* Ссылки навигации */
.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Стили для активной ссылки */
.nav-links li a.active {
    background-color: #555; /* Цвет фона для активной ссылки */
    padding: 10px;
    border-radius: 5px;
}

/* Бургер-меню */
.burger-menu {
    display: none;
    list-style: none;
    background-color: #333;
    position: absolute;
    top: 100%; /* Поднимаем меню на 100% вниз от родителя */
    right: 0; /* Привязываем к правой стороне */
    margin: 0;
    padding: 10px;
    width: 100%; /* Задаём ширину меню */
    z-index: 1000; /* Убедитесь, что меню поверх остальных элементов */
    text-align: center;
}

.burger-menu li a {
    color: white;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #555;
}

.burger-menu.open {
    display: block; /* Показываем меню при открытии */
}

/* Контрастная кнопка */
.contrast-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 10px; /* Отступ справа от глаза */
}

#contrast-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Бургер-меню и иконка */
.burger-menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

/* Основной контент */
main {
    flex-grow: 1;
    padding: 20px;
}

/* Футер */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

/* Адаптация для больших экранов */
@media (min-width: 601px) {
    .burger-menu {
        display: none; /* Скрываем бургер-меню на больших экранах */
    }

    .burger-menu-icon {
        display: none; /* Скрываем бургер-меню на больших экранах */
    }

    .contrast-icon-wrapper {
        margin-left: auto; /* Обеспечиваем, чтобы иконка была справа */
    }
}

/* Адаптация для маленьких экранов */
@media (max-width: 600px) {
    .nav-links {
        display: none; /* Скрываем навигацию */
    }

    .burger-menu-icon {
        display: block; /* Показываем бургер-меню */
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .contrast-icon-wrapper {
        margin-left: auto; /* Сдвигаем иконку глаза максимально вправо */
    }

    .burger-menu {
        display: none; /* Скрываем бургер-меню по умолчанию */
    }

    .burger-menu.open {
        display: block; /* Показываем бургер-меню при открытии */
    }
}

@media (min-width: 1920px) {
    body {
        font-size: 18px; /* Увеличьте размер шрифта по вашему усмотрению */
    }

    .logo {
        font-size: 40px; /* Увеличение размера шрифта логотипа */
    }

    .nav-links li a {
        font-size: 28px; /* Увеличение размера шрифта ссылок навигации */
    }

    #contrast-icon {
        width: 32px; /* Увеличение размера иконки глаза */
        height: 32px; /* Увеличение размера иконки глаза */
    }

    .contrast-icon-wrapper {
        width: 40px;  /* Увеличьте ширину фона вокруг глаза */
        height: 40px; /* Увеличьте высоту фона вокруг глаза */
    }

    footer {
        padding: 30px; /* Увеличение отступов футера */
    }
}
