
.auth-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.auth-container h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}


form label {
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}


.auth-form input,
.register-form input,
.password-reset-form input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}


button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #777;
}


.switch p {
    color: #555;
}

.switch a {
    color: #007bff;
    text-decoration: none;
}

.switch a:hover {
    text-decoration: underline;
}

@media (min-width: 1920px) {
    .auth-container h2 {
        font-size: 44px;
    }

    .auth-form input,
    .register-form input,
    .password-reset-form input {
        font-size: 44px;
    }

    button[type="submit"] {
        font-size: 20px;
    }
}
