<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Новости электроники{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">Электроника</div>
            <ul class="nav-links">
                <li><a href="{% url 'index' %}" class="{% if request.path == '/' %}active{% endif %}">Главная</a></li>
                <li><a href="{% url 'news' %}" class="{% if request.path == '/news/' %}active{% endif %}">Новости</a></li>
                <li><a href="{% url 'reviews' %}" class="{% if request.path == '/reviews/' %}active{% endif %}">Обзоры</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'community' %}" class="{%if request.resolver_match.url_name in 'community user_detail' %}active{% endif %}">Сообщество</a></li>
                {% else %}
                {% endif %}

                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}" class="{% if request.path == '/profile/' %}active{% endif %}">Профиль</a></li>
                    {% else %}
                <li><a href="{% url 'authorise' %}" class="{% if request.path == '/authorise/' or request.path == '/register/' or request.path == '/password_reset/' %} active{% endif %}">        Вход/регистрация</a></li>
                {% endif %}




                <li><a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">О нас</a></li>
            </ul>
            <div class="contrast-icon-wrapper" onclick="toggleContrastIcon()">
                <img id="contrast-icon" src="{% static 'images/eye.svg' %}" alt="Contrast Icon">
            </div>
            <div class="burger-menu-icon" onclick="toggleBurgerMenu()">
                &#9776;
            </div>
            <ul class="burger-menu">
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'news' %}">Новости</a></li>
                <li><a href="{% url 'reviews' %}">Обзоры</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Профиль</a></li>
                {% else %}
                    <li><a href="{% url 'authorise' %}">Вход/регистрация</a></li>
                {% endif %}
                <li><a href="{% url 'about' %}">О нас</a></li>
            </ul>
        </div>
    </header>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Новости электроники. Все права защищены.</p>
    </footer>

    <script>
        function toggleBurgerMenu() {
            const burgerMenu = document.querySelector('.burger-menu');
            burgerMenu.classList.toggle('open');
        }

         function toggleContrastIcon() {
            const icon = document.getElementById('contrast-icon');
            const body = document.body;

            if (body.classList.contains('high-contrast')) {
                body.classList.remove('high-contrast');
                icon.src = '{% static "images/eye.svg" %}';
                localStorage.setItem('contrastMode', 'normal');
            } else {
                body.classList.add('high-contrast');
                icon.src = '{% static "images/eye-crossed.svg" %}';
                localStorage.setItem('contrastMode', 'high');
            }
        }


        document.addEventListener('DOMContentLoaded', () => {
            const savedMode = localStorage.getItem('contrastMode');
            if (savedMode === 'high') {
                document.body.classList.add('high-contrast');
                document.getElementById('contrast-icon').src = '{% static "images/eye-crossed.svg" %}';
            }





    });
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>
