{% extends 'base.html' %}
{% load static %}

{% block title %}Редактировать новость{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/publish_content.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>Редактировать новость</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h3>Редактировать контент</h3>
        <label for="title">Заголовок:</label>
        <input type="text" name="title" id="title" value="{{ content.title }}" required>

        <label for="content">Описание:</label>
        <textarea name="content" id="content" required>{{ content.content }}</textarea>

        <h3>Уже загруженные изображения</h3>
        {% for image in existing_images %}
            <div class="uploaded-media">
                <img src="{{ image.image.url }}" alt="Изображение" width="150">
                <input type="checkbox" name="delete_image_{{ image.id }}"> Удалить
            </div>
        {% empty %}
            <p>Нет загруженных изображений.</p>
        {% endfor %}

        <h3>Добавить изображения</h3>
        {% for slot in available_image_slots %}
            <input type="file" name="images" accept="image/*">
        {% endfor %}

        <h3>Уже загруженные видео</h3>
        {% for video in existing_videos %}
            <div class="uploaded-media">
                <video src="{{ video.video.url }}" controls width="150"></video>
                <input type="checkbox" name="delete_video_{{ video.id }}"> Удалить
            </div>
        {% empty %}
            <p>Нет загруженных видео.</p>
        {% endfor %}

        <h3>Добавить видео</h3>
        {% for slot in available_video_slots %}
            <input type="file" name="videos" accept="video/*">
        {% endfor %}

        <button type="submit">Сохранить</button>
    </form>

</div>
{% endblock %}
