{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Восстановление пароля</h2>
    <form method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
        {{ password_reset_form.as_p }}  <!-- Отображение формы -->
        <button type="submit">Отправить ссылку для восстановления</button>
    </form>
    <div class="switch">
        <p>Вспомнили пароль? <a href="{% url 'authorise' %}">Войти</a></p>
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    </div>
</div>
{% endblock %}
