{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Восстановление пароля</h2>
    <form method="GET">
        <div>
            <label for="email">Электронная почта</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Отправить ссылку для восстановления</button>
    </form>
    <div class="switch">
        <p>Вспомнили пароль? <a href="{% url 'authorise' %}">Войти</a></p>
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    </div>
</div>
{% endblock %}
