{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/profile_news.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <img src="{{ user.avatar.url }}" alt="Аватар" class="avatar">
        <div class="profile-info">
            <h2>{{ nickname }}</h2>
            <a href="{% url 'edit_profile' %}" class="button">Редактировать профиль</a>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="button">Выйти</button>
            </form>
        </div>
    </div>

    <a href="{% url 'publish_content' %}" class="button">Выпустить новость</a>

    <div class="released-news-section">
        <h3>Выпущенные новости</h3>
        <button class="toggle-news-button">Показать новости</button>
        <div class="released-news-scroll" style="display: none;">
            <div class="news-container">
                {% for news in published_news %}
                <div class="news-card">
                    <a href="{% url 'content_detail' news.id %}">
                        <div class="news-title">{{ news.title }}</div>
                        {% if news.images.first %}
                            <img src="{{ news.images.first.image.url }}" alt="News Image" class="news-thumbnail">
                        {% endif %}
                    </a>
                    <div class="news-actions">
                        <a href="{% url 'edit_content' news.id %}" class="button edit-button">Редактировать</a>
                        <form method="POST" action="{% url 'delete_content' news.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="button delete-button" onclick="return confirm('Вы уверены, что хотите удалить эту новость?');">Удалить</button>
                        </form>
                    </div>
                </div>
                {% empty %}
                <p>Вы еще не выпустили новости.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('.toggle-news-button').addEventListener('click', function() {
        const newsScroll = document.querySelector('.released-news-scroll');
        if (newsScroll.style.display === 'none') {
            newsScroll.style.display = 'block';
            this.textContent = 'Скрыть новости';
        } else {
            newsScroll.style.display = 'none';
            this.textContent = 'Показать новости';
        }
    });
</script>
{% endblock %}
