{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <img src="{{ user.avatar.url }}" alt="Аватар" class="avatar">
        <div class="profile-info">
            <h2>{{ user.nickname }}</h2>  <!-- Никнейм пользователя -->
            <a href="{% url 'edit_profile' %}" class="button">Редактировать профиль</a> <!-- Кнопка редактирования -->
            <form method="POST" action="{% url 'logout' %}">  <!-- Форма для выхода -->
                {% csrf_token %}
                <button type="submit" class="button">Выйти</button>  <!-- Кнопка выхода -->
            </form>
        </div>
    </div>
    <a href="{% url 'publish_content' %}" class="button">Выпустить новость</a>
</div>
{% endblock %}
