{% extends 'base.html' %}

{% block title %}Выпуск новости{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <h2>Выпустить новость</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ content_form.as_p }}

        <h3>Изображения</h3>
        {{ image_formset.management_form }}
        {% for form in image_formset %}
            {{ form.as_p }}
        {% endfor %}

        <h3>Видео</h3>
        {{ video_formset.management_form }}
        {% for form in video_formset %}
            {{ form.as_p }}
        {% endfor %}

        <button type="submit" class="button">Опубликовать</button>
    </form>
    <a href="{% url 'profile' %}" class="button">Назад к профилю</a>
</div>
{% endblock %}