{% extends 'base.html' %}

{% block title %}Обзоры{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}

{% block content %}
<div class="content-container">
    <h2>Обзоры</h2>
    <div id="review-section"></div>

    <div class="pagination">

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script src="{% static 'js/reviews.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.8/dayjs.min.js"></script>
<script>
    const isAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};
</script>

{% endblock %}
